@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Special+Gothic+Expanded+One&display=swap");

html,
body,
#root,
.app {
	height: 100%;
	width: 100%;
	background-color: #1f2026;
	font-family: "Special Gothic Expanded One", sans-serif;
}
